/* MessagePanel.css */
.header {
    line-height: 40px;
    padding: 10px 20px;
    border-bottom: 1px solid #dddddd;
  }
  
  .messages {
    margin: 0;
    padding: 20px;
    list-style: none;
  }
  
  .message {
    margin-top: 5px;
  }
  
  .sender {
    font-weight: bold;
  }
  
  .form {
    padding: 10px;
  }
  
  .input {
    width: 80%;
    resize: none;
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #000;
  }
  
  .send-button {
    vertical-align: top;
  }
  